<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<ul>
	{% for each in data %}
		<li>{{each.id}}. {{each.field1}} / {{each.field2}}</li>
	{% end %}
	</ul>
	
	<form action="/" method="post">
		<label for="field1">Field 1: </label>
		<input type="text" name="field1" id="field1" /><br />
		
		<label for="field2">Field 2: </label>
		<input type="text" name="field2" id="field2" /><br />
		
		<input type="submit" value="Send">		
	</form>
</body>
</html>